.navbar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 51px;
    background-color: greenyellow;

    ul {
        display: flex;
        flex-direction: row;
        justify-content: center;

        li {
            list-style-type: none;
            padding: 5px;
        }
    }
}